MONGODB_URI=your_mongodb_connection_string
GITHUB_ID=your_github_oauth_app_client_id
GITHUB_SECRET=your_github_oauth_app_client_secret
AUTH_SECRET=run_openssl_rand_base64_32
AUTH_URL=http://localhost:3000
AUTH_TRUST_HOST=true